.MuiSwitch-thumb{
    color: #E21B70 !important;
    
}     
.MuiSwitch-track{
  background-color:rgb(195, 193, 193) !important;
  
} 
.MuiSvgIcon-root{
 font-size: 1em;
 color: #fff;
}
.MuiButton-root{
  padding: 0 !important;
}